doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/app.css")
    link(rel="stylesheet" href="./css/normalize.css")
    title= nombrePagina
    
  body 
    header.barra 
      h1 UpTask - Administrador de proyectos
      a(href="#") Cerrar Sesión

    main.contenedor
      aside.contenedor-proyectos
        .panel.crear-proyecto
          a(href="/nuevo-proyecto" class="boton") Nuevo Proyecto
            span +
        .panel.lista-proyectos
          h2 Proyectos
          ul#proyectos.proyectos
            each proyecto in proyectos
              li
                a(href="#")=proyecto.nombre
          
      block contenido